body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  background-color: #06AF8F
}

h1 {
  font-weight: lighter;
  font-size: 40px;
  letter-spacing: 2px;
  margin-bottom: 0px;
}

.inputSection {
  margin: 30px 0px 50px 0px;
  width: 400px;
  flex-direction: row;
  align-items: auto;
}

.box{
  justify-content: center;
}

.image{
  align-items: center;
  justify-content: center;
  width: 309px;
  height: 110px;

}
.boxchoose{
  justify-content: space-between;
  width: 309px;
  display: flex;
  flex-direction: row;
}
.choose{
  align-items: center;
  width: auto;
}

.inputs {
  width: inherit;
  font-style: italic;
  margin-bottom: 10px;
}

input {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 20px;
  font-weight:lighter;
  text-indent: 3%;
  font-size: 10px;
  border-radius: 50px;
}

.addOption {
  margin-top: 10px;
  padding: 10px 20px 10px 20px;
  background-color: #FFFFFF;
  border-radius: 50px;
}

.addOption1 {
  margin-top: 10px;
  padding: 10px 20px 10px 20px;
  background-color: #FFFFFF;
  border-radius: 50px;
}

.brown {
  background-color: #E16E30;
}
